<h1> list of all messages </h1>
<%= link_to 'New message', new_message_path %>
<ul>
    <% @messages.each do |message| %>
        <li>
           <%# <%=link_to message.content,	message %>
            <%= message.content %>
            <%=link_to 'Show', message %>
            <%# <%=link_to 'Edit', {:action => "edit", :id => message.id}  %> 
            <%=link_to 'Edit', edit_message_path(message.id)  %>
            <%=link_to 'Delete', message, method: :delete %>
           
        </li>
    <% end %>
<ul>