


<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><%=@message.content %></h1>
          <p class="lead text-muted"> - <%= @message.user.email %></p>
        </div>
        <% @message.image.each do |image| %>
        <%= image_tag image %> <br />
<% end %>
</section>



<div class="container">
<div class="text-right">
 <%= link_to 'Back to all messages', messages_path, class:'btn btn-info' %>
</div>
</div>

<div class="container">

 <h3>Add comment</h3>
 <%= render partial: 'comments/form', locals: { comment: Comment.new, message: @message } %>
 </div>

<div>
</div>

 <div class="container" style="padding-top: 20px;">
 <h3>Comments</h3>
 <%= render partial: '/messages/comments', collection: @message.comments, as: :comment %>
 </div>

